body{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
display:flex;
justify-content:center;
align-items:center;
height:700px;
margin: 0;
}

button{
background-color: rgb(94, 28, 155);
color: #006b7e;
font-family: "Bai Jamjuree", sans-serif;

}